.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  transform: translateZ(0);
  transition: transform 0.25s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.monsterName {
  font-size: 25px;
}
